<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Employee.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/js/Common.js" asp-append-version="true"></script>
    <script src="~/js/ModelView.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand text-white">Employee</a>
                <form asp-controller="Employee" asp-action="getEmployeeList">
                    <div class="btn-group" role="group">
                        <input type="text" id="inputSearch" name="searchString" class="insearch border-0" />
                        <button type="submit" id="btnsearch" class="btn">
                            <i class="fa-solid fa-magnifying-glass" style="color: #f0f2f5;"></i>
                        </button>
                </form>
                <a class="btn bg-white p-2 border-0 mx-2" asp-controller="Employee" asp-action="Create">
                    <i class="fa-solid fa-circle-plus"></i> Add New Employee
                </a>
                <button type="button" class="btn bg-white p-2 border-0 mx-2" data-toggle="ajax-model" data-target="#myModel" data-url="@Url.Action("Insert")">
                    <i class="fa-solid fa-circle-plus"></i> Add New Employee
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Employee.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
