@using Employee.Web.Models;
@model IEnumerable<EmployeeDto>

@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>
<table id="tblEmployee" class=" table text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                <input type="hidden" id="sortOrder" name="sortOrder"/>
                Name
                <a id="sortName"><i class="fa-solid fa-sort"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div id="paginationTable"></div>